---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5d4c45204fc576413ff1045ad68830344b9b8139d068ee795ebcce69884aefa5"
      Last-Modified:
      - Tue, 09 Jun 2026 05:08:00 GMT
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/events?page=2>; rel="next", <https://api.github.com/events?page=10>;
        rel="last"
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Reset:
      - '1780985618'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"13028196945","type":"PushEvent","actor":{"id":291533457,"login":"adrianwgcl","display_login":"adrianwgcl","gravatar_id":"","url":"https://api.github.com/users/adrianwgcl","avatar_url":"https://avatars.githubusercontent.com/u/291533457?"},"repo":{"id":1263246952,"name":"adrianwgcl/fsncdw","url":"https://api.github.com/repos/adrianwgcl/fsncdw"},"payload":{"repository_id":1263246952,"push_id":35317714092,"ref":"refs/heads/main","head":"0fe8077cc309b67be30a8bb5d96dddc6d9c82493","before":"4f19ea475f9c4fa3f66fb932dafb6ededab10430"},"public":true,"created_at":"2026-06-09T05:08:00Z"},{"id":"13028197190","type":"PushEvent","actor":{"id":183852641,"login":"Adrian-Caiza","display_login":"Adrian-Caiza","gravatar_id":"","url":"https://api.github.com/users/Adrian-Caiza","avatar_url":"https://avatars.githubusercontent.com/u/183852641?"},"repo":{"id":1248678162,"name":"Adrian-Caiza/frontend-pos-electroluz","url":"https://api.github.com/repos/Adrian-Caiza/frontend-pos-electroluz"},"payload":{"repository_id":1248678162,"push_id":35317714248,"ref":"refs/heads/main","head":"9c6f3af500530710303160d555be59a284759937","before":"8d3f1950597e908043a110b09c23cb8ac2d9d312"},"public":true,"created_at":"2026-06-09T05:08:00Z"},{"id":"13028197358","type":"CreateEvent","actor":{"id":49699333,"login":"dependabot[bot]","display_login":"dependabot","gravatar_id":"","url":"https://api.github.com/users/dependabot[bot]","avatar_url":"https://avatars.githubusercontent.com/u/49699333?"},"repo":{"id":1123941979,"name":"19-84/redd-archiver","url":"https://api.github.com/repos/19-84/redd-archiver"},"payload":{"ref":"dependabot/docker/mcp_server/python-3.14-slim-bookworm","ref_type":"branch","full_ref":"refs/heads/dependabot/docker/mcp_server/python-3.14-slim-bookworm","master_branch":"main","description":"A
        PostgreSQL-backed archive generator that creates browsable HTML archives from
        link aggregator platforms including Reddit, Voat, and Ruqqus.","pusher_type":"user"},"public":true,"created_at":"2026-06-09T05:08:00Z"},{"id":"13028197335","type":"PushEvent","actor":{"id":215347478,"login":"rkkawale99","display_login":"rkkawale99","gravatar_id":"","url":"https://api.github.com/users/rkkawale99","avatar_url":"https://avatars.githubusercontent.com/u/215347478?"},"repo":{"id":1263582018,"name":"rkkawale99/StudentAttendenceSystem","url":"https://api.github.com/repos/rkkawale99/StudentAttendenceSystem"},"payload":{"repository_id":1263582018,"push_id":3531771[...]
