---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c72739b22bcc1cf7c6b6b489a0a892aa21d257927f936ce22651c0b149bee627"
      Last-Modified:
      - Tue, 09 Jun 2026 17:40:05 GMT
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/events?page=2>; rel="next", <https://api.github.com/events?page=10>;
        rel="last"
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Used:
      - '11'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Reset:
      - '1781028102'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"13062379265","type":"PushEvent","actor":{"id":172243926,"login":"Seisen88","display_login":"Seisen88","gravatar_id":"","url":"https://api.github.com/users/Seisen88","avatar_url":"https://avatars.githubusercontent.com/u/172243926?"},"repo":{"id":1136481263,"name":"Seisen88/Seisen-Library","url":"https://api.github.com/repos/Seisen88/Seisen-Library"},"payload":{"repository_id":1136481263,"push_id":35351726059,"ref":"refs/heads/main","head":"007508ed5a69d68080076ab9e8032fc5901d26a7","before":"275eb5c0ebca76f5f2de6d7741348799fd238390"},"public":true,"created_at":"2026-06-09T17:40:05Z"},{"id":"13062379242","type":"PushEvent","actor":{"id":198935178,"login":"KlassConneqt","display_login":"KlassConneqt","gravatar_id":"","url":"https://api.github.com/users/KlassConneqt","avatar_url":"https://avatars.githubusercontent.com/u/198935178?"},"repo":{"id":1264013940,"name":"KlassConneqt/klassconneqt-portal","url":"https://api.github.com/repos/KlassConneqt/klassconneqt-portal"},"payload":{"repository_id":1264013940,"push_id":35351725948,"ref":"refs/heads/main","hea[...]
