---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      If-None-Match:
      - W/"example-etag"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"20b40978468a60096e905036d00a0cd254049ca71d2ad53d61e54f1befe65133"
      Last-Modified:
      - Tue, 09 Jun 2026 05:08:38 GMT
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/events?page=2>; rel="next", <https://api.github.com/events?page=10>;
        rel="last"
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Reset:
      - '1780985618'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"13028215603","type":"PushEvent","actor":{"id":1218621,"login":"tamnd","display_login":"tamnd","gravatar_id":"","url":"https://api.github.com/users/tamnd","avatar_url":"https://avatars.githubusercontent.com/u/1218621?"},"repo":{"id":1259225964,"name":"tamnd/githome","url":"https://api.github.com/repos/tamnd/githome"},"payload":{"repository_id":1259225964,"push_id":35317732734,"ref":"refs/heads/realworld-ingest","head":"68a5ad64825c883046fa6a3a5570c2dc3c5b3644","before":"b7c680b1b91a1622346aed29e5c8d097a10a81f6"},"public":true,"created_at":"2026-06-09T05:08:37Z"},{"id":"13028215499","type":"PushEvent","actor":{"id":285732584,"login":"JannatAktherChaity215","display_login":"JannatAktherChaity215","gravatar_id":"","url":"https://api.github.com/users/JannatAktherChaity215","avatar_url":"https://avatars.githubusercontent.com/u/285732584?"},"repo":{"id":1243086026,"name":"JannatAktherChaity215/CSE59-A-F-SE_DP-LAB","url":"https://api.github.com/repos/JannatAktherChaity215/CSE59-A-F-SE_DP-LAB"},"payload":{"repository_id":1243086026,"push[...]
